:root {
    --orange: #f18119;
    --black: #404040;
    --white: #fff;
    --gradient: #ff713b - #ffa51d; 
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: var(--black);
}

/* =================
   TYPOGRAPHY
   ================= */
.intro >*,
.main-content >* {
    max-width: 300px;
    margin: auto;
}
h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--white);
    margin: 0;
}
strong{
    font-weight: 700;
}
h1 + p {
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
    margin: 0;
}
.top-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625rem;
    color: var(--orange);
    letter-spacing: 2px;
    margin: 0;
}
h2 {
    font-size: 1.3125rem;
    margin: 0;
}
h2 + p {
    margin-top: 0;
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
}
.description {
    margin: 1em 0 2em;
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

/* =================
   LAYOUT
   ================= */
.container {
    display: flex;
    flex-direction: column;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    background-image: url(../images/dark-ribs.jpg);
    background-size: cover;
    background-position: center ;
    padding: 0 .5em 2em;
    min-height: 50vh;
}
.top-text {
    order: -1;
    border-top: 7px solid var(--orange);
    padding: .5em 0;
    width: 190px;
}

.main-content {
    padding: 2em 1em;
    margin: auto;
}

/* =================
   FORM
   ================= */

.email-collector {
    width: 80%;
    max-width: 250px;
    margin: auto;
}
input, 
button {
    width: 100%;
    border: solid 1px #404040;
    border-radius: 5px;
}
input {
    margin-bottom: .75em;
    padding: .4em 0;
    text-align: inherit;
    font-family: inherit;
}

.btn {
    padding: 1em 3em;
    border: 0;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
}
.btn-primary {
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
    transition:  .5s;
}
.btn-primary:hover {
    background: #404040;
}
/* =================
   MEDIA QUERIES
   ================= */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    .intro {
        width: 60%;
    }
    .main-content{
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .intro,
    .main-content {
        min-height: 100vh;
    }
    .intro >*,
    .main-content>* {
        max-width: 450px;
    }
    body {
        font-size: 1.125rem;
    }
    h1{
        font-size: 3.5rem;
    }
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    .top-text,
    .fine-print {
        font-size: 0.625rem;
    }
}